{% extends 'MopaBootstrapBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

    {% block head_style %}
{% stylesheets filter='less,cssembed,cssrewrite,?yui_css' output='css/style.default.css'
    '@ManhattanConsoleBundle/Resources/public/less/bootstrap.less'
    '@ManhattanConsoleBundle/Resources/public/css/prettify.css'
    '@ManhattanConsoleBundle/Resources/public/less/dashboard.less'
%}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock head_style %}

{% block title %}Manhattan Management Console{% endblock title %}

{% block body_tag %}
<body data-spy="scroll" data-target="#navbar-example">
{% endblock body_tag %}

{% block navbar %}
{% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true, inverse: true, id: 'navbar-example' } %}
    {% block brand %}
        <a class="navbar-brand" href="{{ path('console_index', { 'subdomain': subdomain }) }}">{{ block('title') }}</a>
    {% endblock %}

    {% block menu %}
        {{ mopa_bootstrap_menu('mainmenu') }}
        {{ mopa_bootstrap_menu('usermenu') }}
    {% endblock %}
{% endembed %}
{% endblock navbar %}

{% block headline %}Manhattan Console{% endblock %}
{% block content %}
    {{ block('fos_user_content') }}
{% endblock %}

{% block footer %}
    <p>&copy; <a href="http://antelopestudios.com.au" target="_blank">Manhattan Console</a> 2012-{{ "now"|date("Y") }}</p>
{% endblock footer %}
