{% extends 'ManhattanConsoleBundle::layout.html.twig' %}

{% block title %}Manhattan Console: Login{% endblock %}

{% block fos_user_content %}
<div class="pure-u-1">
    <div class="login">

        <header class="login-header">
            <h2>Console Login</h2>
        </header>

        <div class="l-box">
            {% if error %}
                <div class="alert alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}

            <form action="{{ path("fos_user_security_check") }}" class="pure-form" method="post" id="login" novalidate>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="pure-control-group">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" />
                </div>

                <div class="pure-control-group">
                    <input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" />
                </div>

                <div class="pure-control-group">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                </div>

                <div class="login-submit pure-control-group">
                    <a href="{{ path('fos_user_resetting_request') }}" class="forgotten">Forgotten Password?</a>
                    <input type="submit" class="pure-button pure-button-primary" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                </div>
        </form>
        </div>

        <footer class="login-footer">
            Maintained by Antelope Studios, under MIT Licence.
        </footer>
    </div>
</div>
{% endblock fos_user_content %}

{% block content_class %}pure-u-1{% endblock content_class %}
{% block navigationbar %}{% endblock navigationbar %}
{% block container_id %}{% endblock container_id %}
{% block footer %}{% endblock footer %}
