{% extends "ManhattanConsoleBundle:Console:template.html.twig" %}

{% block headline %}Console: Profile | Edit Profile{% endblock headline %}
{% block title %}Console: Edit Profile{% endblock title %}
{% block breadcrumbs %}<li><a href="{{ path('console_index', { 'subdomain': subdomain }) }}">Console</a></li><li><a href="{{ path('fos_user_profile_show', { 'subdomain': subdomain }) }}">View Profile</a></li><li class="active">Edit Profile</li>{% endblock breadcrumbs %}

{% block content_content %}
    <form action="{{ path('fos_user_profile_edit', { 'subdomain': subdomain }) }}" {{ form_enctype(form) }} method="POST" role="form" class="form-horizontal" novalidate>

        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </div>
    </form>

{% endblock content_content %}

{% block content_sidebar %}
<a href="{{ path('fos_user_profile_show', { 'subdomain': subdomain }) }}" class="btn btn-info">Back to Profile</a>
{% endblock content_sidebar %}
