<table class="record_properties table table-bordered table-striped">
    <tbody>
        <tr>
            <th>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</th>
            <td>{{ user.email }}</td>
        </tr>
    </tbody>
</table>

<div class="form-actions">
    <a href="{{ path('fos_user_profile_edit') }}" class="btn">Edit Profile</a>
    <a href="{{ path('fos_user_change_password') }}" class="btn">Change Password</a>
</div>