{% extends "ManhattanConsoleBundle:Console:template.html.twig" %}

{% block headline %}Console: Profile | View Profile{% endblock headline %}
{% block title %}Console: View Profile{% endblock title %}
{% block breadcrumbs %}<li><a href="{{ path('console_index', { 'subdomain': subdomain }) }}">Console</a></li><li class="active">View Profile</li>{% endblock breadcrumbs %}

{% block content_content %}

    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>{{ 'form.firstname'|trans({}, 'FOSUserBundle') }}</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>{{ 'form.lastname'|trans({}, 'FOSUserBundle') }}</th>
                    <td>{{ user.lastname }}</td>
                </tr>
                <tr>
                    <th>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</th>
                    <td>{{ user.email }}</td>
                </tr>
                {% if user.socialAccounts|length > 0 %}
                    <tr>
                        <th>Social Accounts</th>
                        <td><ul class="social-accounts">
                            {% for social in user.socialAccounts %}
                            <li><a href="{{ social }}"><i class="fa fa-{{ social.outlet }}"></i> {{ social.provider }}</a></li>
                            {% endfor %}
                        </ul></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <div class="btn-group">
        <a href="{{ path('fos_user_profile_edit', { 'subdomain': subdomain }) }}" class="btn btn-info">Edit Profile</a>
        <a href="{{ path('fos_user_change_password', { 'subdomain': subdomain }) }}" class="btn btn-warning">Change Password</a>
    </div>

{% endblock content_content %}

{% block content_sidebar %}{% endblock content_sidebar %}
