{% extends "ManhattanConsoleBundle:Console:template.html.twig" %}

{% block headline %}Console: User | Edit User{% endblock headline %}
{% block title %}Console: Edit User{% endblock title %}
{% block breadcrumbs %}<li><a href="{{ path('console_index', { 'subdomain': subdomain }) }}">Console</a></li><li><a href="{{ path('console_users', { 'subdomain': subdomain }) }}">Users</a></li><li class="active">Edit User</li>{% endblock breadcrumbs %}

{% block content_content %}
    <form action="{{ path('console_users_update', { 'subdomain': subdomain, 'id': entity.id }) }}" method="POST" role="form" class="form-horizontal" novalidate>

        {{ form_widget(edit_form) }}

        <div class="form-actions">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </div>
    </form>

{% endblock content_content %}

{% block content_sidebar %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Edit User</h3>
    </div>
    <div class="panel-body">
        <p><a href="{{ path('console_users', { 'subdomain': subdomain }) }}" class="btn btn-info">Back to the list</a></p>
        <form action="{{ path('console_user_delete', { 'subdomain': subdomain, 'id': entity.id }) }}" method="post">
            <input type="hidden" name="methods" value="DELETE" />
            {{ form_row(delete_form.id) }}
            {{ form_rest(delete_form) }}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
{% endblock content_sidebar %}
