{% extends "ManhattanConsoleBundle::layout.html.twig" %}

{% block content %}
<table class="records_list table table-striped">
    <thead>
        <tr>
            <th class="title">Username</th>
            <th>Email</th>
            <th>&nbsp;</th>
            <th>Last Login</th>
            <th class="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('console_users_edit', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
            <td>{{ entity.email }}</td>
            <td>{% spaceless %}
                {% if entity.enabled %}
                    <span class="btn-small btn-success">Enabled</span>
                {% else %}
                    <span class="btn-small btn-info">Disabled</span>
                {% endif %}
            {% endspaceless %}</td>
            <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
            <td>
                <a href="{{ path('console_users_edit', { 'id': entity.id }) }}" class="btn btn-info btn-small">edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ path('fos_user_registration_register') }}"  class="btn primary">
    Register New User
</a>
{% endblock %}
