{% extends "ManhattanConsoleBundle:Console:template.html.twig" %}

{% block template_title %}Console: Users{% endblock template_title %}
{% block title %}Console: Users{% endblock title %}
{% block breadcrumbs %}<li><a href="{{ path('console_index') }}">Console</a></li><li class="current"><a href="{{ path('console_users') }}">Users</a></li>{% endblock breadcrumbs %}

{% block template_console %}

<table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th class="title">Username</th>
            <th>Email</th>
            <th>&nbsp;</th>
            <th>Last Login</th>
            <th class="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr{% if loop.index is odd %} class="pure-table-odd"{% endif %}>
            <td><a href="{{ path('console_users_edit', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
            <td>{{ entity.email }}</td>
            <td>{% spaceless %}
                {% if entity.enabled %}
                    <span class="pure-button pure-button-success small">Enabled</span>
                {% else %}
                    <span class="pure-button pure-button-warning small">Disabled</span>
                {% endif %}
            {% endspaceless %}</td>
            <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
            <td>
                <a href="{{ path('console_users_edit', { 'id': entity.id }) }}" class="pure-button pure-button-secondary small">edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="l-box">
    <a href="{{ path('console_users_new') }}" class="pure-button pure-button-primary">Register New User</a>
</div>

{% endblock template_console %}
