{% extends "ManhattanConsoleBundle:Console:template.html.twig" %}

{% block headline %}Console: Users{% endblock headline %}
{% block title %}Console: Users{% endblock title %}
{% block breadcrumbs %}<li><a href="{{ path('console_index', { 'subdomain': subdomain }) }}">Console</a></li><li class="active">Users</li>{% endblock breadcrumbs %}

{% block content_content %}
    <h2>Users</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="title">Username</th>
                    <th>Email</th>
                    <th>&nbsp;</th>
                    <th>Last Login</th>
                    <th class="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr{% if loop.index is odd %} class="pure-table-odd"{% endif %}>
                    <td><a href="{{ path('console_users_edit', { 'subdomain': subdomain, 'id': entity.id }) }}">{{ entity.username }}</a></td>
                    <td>{{ entity.email }}</td>
                    <td>{% spaceless %}
                        {% if entity.enabled %}
                            <span class="btn btn-success btn-sm">Enabled</span>
                        {% else %}
                            <span class="btn btn-warning btn-sm">Disabled</span>
                        {% endif %}
                    {% endspaceless %}</td>
                    <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
                    <td>
                        <a href="{{ path('console_users_edit', { 'subdomain': subdomain, 'id': entity.id }) }}" class="btn btn-info btn-sm">edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content_content %}

{% block content_sidebar %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">User Controls</h3>
    </div>
    <div class="panel-body">
        <a href="{{ path('console_users_new', { 'subdomain': subdomain }) }}" class="btn btn-primary">Register New User</a>
    </div>
</div>
{% endblock content_sidebar %}
