{% extends "ManhattanConsoleBundle:Console:template.html.twig" %}

{% block headline %}Console: User | Create New{% endblock headline %}
{% block title %}Console: User{% endblock title %}
{% block breadcrumbs %}<li><a href="{{ path('console_index', { 'subdomain': subdomain }) }}">Console</a></li><li><a href="{{ path('console_users', { 'subdomain': subdomain }) }}">Users</a></li><li class="active">Create New User</li>{% endblock breadcrumbs %}

{% block content_content %}
    <form action="{{ path('console_users_create', { 'subdomain': subdomain }) }}" {{ form_enctype(form) }} method="POST" role="form" class="form-horizontal" novalidate>

        {{ form_widget(form) }}

        <div class="form-actions">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value="Create" />
            </div>
        </div>
    </form>

{% endblock content_content %}

{% block content_sidebar %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Create New User</h3>
    </div>
    <div class="panel-body">
        <p>Fill out the form and the Console will email the address you enter and invite them to complete the registration.</p>
        <a href="{{ path('console_users', { 'subdomain': subdomain }) }}" class="btn btn-info">Back to the list</a>
    </div>
</div>
{% endblock content_sidebar %}
