{% extends 'ManhattanConsoleBundle::layout.html.twig' %}

{% block title %}Manhattan Console: Set Password{% endblock %}

{% block fos_user_content %}
<div class="pure-u-1">
    <div class="setpassword">

        {{ topHeader() }}

        <div class="l-box">
            <p>Please set your password for accessing the Console.</p>

            <form action="{{ path('console_users_password_set', { 'subdomain': subdomain, 'token': token}) }}" {{ form_enctype(form) }} method="POST" class="pure-form" novalidate>
                {{ form_widget(form) }}

                <div class="login-submit pure-control-group">
                    <input type="submit" class="pure-button pure-button-primary" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
                </div>

            </form>
        </div>

        <footer class="login-footer">
            Maintained by Antelope Studios, under MIT Licence.
        </footer>
    </div>
</div>
{% endblock fos_user_content %}

{% block content_class %}pure-u-1{% endblock content_class %}
{% block navigationbar %}{% endblock navigationbar %}
{% block container_id %}{% endblock container_id %}
{% block footer %}{% endblock footer %}
