{% extends 'form_div_layout.html.twig' %}

{# Widgets #}

{% block preview_file_widget %}
    {% spaceless %}
        <div class="preview">
            {% if preview %}<img src="{{ asset(preview) | imagine_filter('thumb') }}" />{% endif %}
        </div>
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock %}

{% block telephone_widget %}
{% spaceless %}
    {% set type = type|default('tel') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock telephone_widget %}

{% block file_widget %}
    {% spaceless %}
    {{ block('form_widget') }}
    {% if image_url is defined and image_url is not null %}
        <div class="preview">
            <img src="{{ asset(image_url) | imagine_filter('thumb') }}" />
        </div>
    {% endif %}
    {% endspaceless %}
{% endblock %}

{% block form_row %}
{% set attr = attr|merge({'class': attr.class|default('') ~ (errors|length > 0 ? ' error' : '') }) %}
{% spaceless %}
    <div class="pure-control-group{% if errors|length > 0 %} error{% endif %}">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block radio_widget %}
{% set label_attr = label_attr|merge({'class': 'pure-radio' }) %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {% endif %}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans({}, translation_domain) }}</label>
{% endspaceless %}
{% endblock radio_widget %}

{% block checkbox_widget %}
{% set label_attr = label_attr|merge({'class': 'pure-checkbox' }) %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {% endif %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans({}, translation_domain) }}</label>
{% endspaceless %}
{% endblock checkbox_widget %}


{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        {{ form_widget(child) }}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="errors">
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
