{% extends 'MopaBootstrapBundle:Form:fields.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{# Widgets #}

{% block preview_file_widget %}
    {% spaceless %}
        <div class="media">
            {% if preview %}<img class="media-object" src="{{ asset(preview) | imagine_filter('thumb') }}" />{% endif %}
        </div>
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock %}

{% block telephone_widget %}
{% spaceless %}
    {% set type = type|default('tel') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock telephone_widget %}

{% block file_widget %}
{% spaceless %}<div class="preview">
    {% if image_url is defined and image_url is not null %}
        <div class="image">
            <img src="{{ asset(image_url) | imagine_filter('thumb') }}" />
        </div>
    {% endif %}
    {% set label_attr = label_attr|merge({'for': id}) %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        <i class="fa fa-cloud-upload"></i> Upload File
        {% set type = type|default('text') -%}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </label>
</div>{% endspaceless %}
{% endblock %}
